.carousel-custom .d-block {
    max-height: auto; /* Adjust as needed */
    max-width: auto;
    object-fit: cover; /* This keeps aspect ratio */
}

.carousel-caption-custom {
    color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Changes the color of the SVG icon to black */
}
